.easybank--features2 {
  background-color: white;
  @include display-grid-row;
  grid-template-rows: repeat(4, 1fr);
}

.easybank--features2__header--wrapper,
.easybank--features2__section1--wrapper,
.easybank--features2__section2--wrapper,
.easybank--features2__section3--wrapper {
  display: flex;
  flex-direction: column;
}


