
.easybank__masthead {
  background-color: hsl(0, 0%, 98%);
  position: relative;
  z-index: -13;
  margin-top: -1.5rem;
}

.easybank__masthead--container {
  background-image: url(../icons/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 100px;
}

.easybank__masthead__btn--req {
  @include button;
}

.easybank__masthead__img--wrapper {
  background-image: url('../images/res-images.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}

.easybank__masthead--wrapper {
  margin-block-start: -150px;
}

@media(max-width: 1000px) {
  .easybank__masthead__img {
    visibility: hidden;
  }
}

.easybank__masthead__heading {
  font-size: 20px;
  font-weight: 700;
}

.easybank__masthead--desc {
  color: hsl(233, 8%, 62%);
}

@media (min-width: 1000px) {

  .easybank__masthead {
    margin-block-start: -88px;
  }

  .easybank__masthead--container {
    @include breakpoint;
    max-width: 1236px;
    margin-inline-end: unset;
    @include flexRow;
    flex-direction: row-reverse;
    background-image: url('../icons/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-position-x: 49vw;
    background-position-y: -27vh;
    position: unset;
    padding-bottom: 0;
    gap: 100px;
  }

  .easybank__masthead__img--wrapper {
    background-image: none;
  }

  .easybank__masthead__heading {
    font-size: 50px;
  }

  .easybank__masthead--wrapper {
    text-align: left;
    flex-basis: 40%;
    margin-block-start: 0;
  }

  .easybank__masthead__img--wrapper {
    max-width: 600px;
    overflow-x: hidden;
  }

  .easybank__masthead__img {
    width: 500px;
    position: relative;
    left: 82px;
  }
}


