
.easybank--features2--section1__img,
.easybank--features2--section2__img,
.easybank--features2--section3__img,
.easybank--features2--section4__img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
}
