.easybank--features2 {
  // background-color: white;
  // @include display-grid-row;
  grid-template-rows: repeat(4, 1fr);
}

  .easybank--features2--section1--wrapper,
  .easybank--features2--section2--wrapper,
  .easybank--features2--section3--wrapper,
  .easybank--features2--section4--wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 16px;
  }

  .easybank--features2__header__heading {
    font-weight: 700;
    font-size: 25px;
  }

  .easybank--features2--section1--name,
  .easybank--features2--section2--name,
  .easybank--features2--section3--name,
  .easybank--features2--section4--name {
    font-weight: 300;
    font-size: 14px;
    color:  hsl(233, 8%, 62%);
  }

  .easybank--features2--section1--wrapper,
  .easybank--features2--section2--wrapper,
  .easybank--features2--section3--wrapper,
  .easybank--features2--section4--wrapper {
    border-radius: 12px;
    padding: 16px;
    position: relative;
    top: -16px;
    z-index: -1;
    height: 325px;
  }

@media (min-width: 1000px) {

  .easybank--features2 {
    margin-top: 100px;
  }

  .easybank--features2--container {
    @include breakpoint;
  }

  .easybank--features2__header {
    text-align: left;
  }

  .easybank--features2--wrapper {
    @include flexRow;
    gap: 30px;
    text-align: left;
  }

  .easybank--features2__header__heading {
    font-size: 40px;
  }
}
